<%- include('partials/header') %>
<div class="row container-login">
  <div class="col-lg-4 col-md-6 col-sm-6 login-box">
    <div class="card shadow">
      <div class="card-title text-center border-bottom">
        <h2> Register 🙊</h2>
      </div>
      <div class="card-body text-center">
        <form action="/register" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="username">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password"  autocomplete="on">
          </div>
          <br>
          <button type="submit" class="btn btn-dark col-12">Register</button>

        </form>
        <div class="col-sm-12">
          <a class="btn col-12 btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
          <a class="btn col-12 btn-social btn-facebook" href="/auth/facebook" role="button">
            <i class="fab fa-facebook"></i>
            Sign Up with Facebook
          </a>
          <p>Already have an account? <a href="/login">Sign Up</a></p>
        </div>
        </form>
      </div>
    </div>

    <%- include('partials/header') %>